@if (Request.IsAuthenticated) 
{
    <text>
        @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Administrar", style="color:black;font-size:16px;position:absolute;right:200px;top:15px" })
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()" style="border-color:#dfdfdf;border-width:thin;border-style:solid;background-color:#F8F8F8;position:absolute;right:20px;top:15px" title="Terminar sesión">Cerrar sesión</a>}
    </text>
    if (User.Identity.Name == "eduardo")
    {
    <text>
        <li>@Html.ActionLink("Registrar", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", style="border-style:solid;border-width:thin;border-color:#dfdfdf;background-color:#F8F8F8;position:absolute;right:95px;top:15px", title = "Registrar un nuevo usuario" })</li>
    </text>
    }
} 

else
{
    <ul>
@*        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>*@
    </ul>
}
