@model ProyectoFinal.Models.RegisterModel
@{
    ViewBag.Title = "Registrar";
}

<hgroup class="title">
    <h1>Registrar.</h1>
    <h2>Crear un nuevo perfil de profesional.</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.Label("Nombre de usuario:")
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.Label("Contraseña:")
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.Label("Confirmar contraseña:")
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Registrar" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
