@model ProyectoFinal.Models.PatientModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PatientModel</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.CreadoPor)

        <div class="editor-label">
            @Html.Label("Nombre:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Nombre, htmlAttributes: new { style="border-color:#007ACD;border-radius:4px", title = "Introduzca el nombre del paciente" })
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.Label("Apellido:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Apellido, htmlAttributes: new { style="border-color:#007ACD;border-radius:4px", title = "Introduzca el apellido del paciente" })
            @Html.ValidationMessageFor(model => model.Apellido)
        </div>

        <div class="editor-label">
            @Html.Label("Cédula:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Cedula, htmlAttributes: new { style="border-color:#007ACD;border-radius:4px", title = "Introduzca el número de cédula del paciente" })
            @Html.ValidationMessageFor(model => model.Cedula)
        </div>

        <div class="editor-label">
            @Html.Label("Fecha de Nacimiento:")
        </div>
        <div class="editor-field">
            @*@Html.EditorFor(model => model.FechaNacimiento)*@
            @Html.TextBoxFor(model => model.FechaNacimiento, new { @class = "date", type = "date", style="border-color:#007ACD;border-radius:4px", title = "Introduzca la fecha de nacimiento del paciente" })
        </div>

        <div class="editor-label">
            @Html.Label("Edad:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Edad, htmlAttributes: new { style="border-color:#007ACD;border-radius:4px", title = "Introduzca la edad del paciente" })
            @Html.ValidationMessageFor(model => model.Edad)
        </div>

        <div class="editor-label">
            @Html.Label("Sexo:")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Sexo, (IEnumerable<SelectListItem>) ViewBag.sexo, new{style="width:312px; padding:5px;border: 1px solid #e2e2e2;border-color:#007ACD;border-radius:4px", title = "Seleccione el sexo del paciente"})
        </div>

        <div class="editor-label">
            @Html.Label("Tipo de Sangre:")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TipoSangre, (IEnumerable<SelectListItem>) ViewBag.sangre, new{style="width:312px; padding:5px;border: 1px solid #e2e2e2;border-color:#007ACD;border-radius:4px", title = "Seleccione el tipo de sangre del paciente"})
        </div>

        <div class="editor-label">
            @Html.Label("Seguro Medico:")
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.SeguroMedico, (IEnumerable<SelectListItem>) ViewBag.seguro, new{style="width:312px; padding:5px;border: 1px solid #e2e2e2;border-color:#007ACD;border-radius:4px", title = "Seleccione el seguro medico del paciente"})
        </div>

        <div class="editor-label">
            @Html.Label("# Seguro Medico:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.NumeroSeguroMedico, htmlAttributes: new { style="border-color:#007ACD;border-radius:4px", title = "Introduzca el número del seguro medico del paciente" })
            @Html.ValidationMessageFor(model => model.NumeroSeguroMedico)
        </div>

        <div class="editor-label">
            @Html.Label("NSS:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.NumeroSeguroSocial, htmlAttributes: new { style="border-color:#007ACD;border-radius:4px", title = "Introduzca el Número de Seguro Social del paciente" })
            @Html.ValidationMessageFor(model => model.NumeroSeguroSocial)
        </div>

        <div class="editor-label">
            @Html.Label("Religión:")
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Religion, htmlAttributes: new { style="border-color:#007ACD;border-radius:4px", title = "Introduzca la religión del paciente" })
            @Html.ValidationMessageFor(model => model.Religion)
        </div>

        <p>
            <input type="submit" value="Guardar" style="border-radius:4px" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
