@model IEnumerable<ProyectoFinal.Models.PatientModel>

@{
    ViewBag.Title = "Buscar Pacientes";
}

<h2>Buscar Pacientes</h2>

@*<p>
    @using (Html.BeginForm()){
         <p>@Html.TextBox("searchString", "Buscar por nombre, apellido...")
         <input type="submit" value="Buscar" /></p> 
        }
</p>*@
@*<div class="wrap left rounded" style="position:absolute;top:22%;right:30%;clear:both">
    <form action="~/Patients/SearchPatients" method="post">
    <input type="text" name="searchString" class="search left rounded" placeholder="Buscar por nombre, apellido..." />
    <input type="submit" value="Buscar" style="height:37px; border-top-right-radius:4px;border-bottom-right-radius:4px;
    border-bottom-left-radius:0px;border-top-left-radius:0px;border-left-color:white;border-color:#ccc;border-left-color:white; background-color:#007ACD; color:white" />
        </form>
</div>*@
<table id="resultados" style="position:absolute;top:22%;right:25%;clear:both">
    @if(Model.Any())
    {
    <tr>
        <th>
            @Html.Label("Nombre")
        </th>
        <th>
            @Html.Label("Apellido")
        </th>
        <th>
            @Html.Label("Cédula")
        </th>
        <th>
            @Html.Label("Sexo")
        </th>
        <th>
            @Html.Label("Seguro Médico")
        </th>
        <th>
            @Html.Label("No Seguro Médico")
        </th>
    </tr>
    }
    @if(!Model.Any()) {
        if (!String.IsNullOrEmpty(ViewBag.isSearch))
        {
            @Html.Label("No se encontró el paciente, intente de nuevo!")
        }
    }

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cedula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeguroMedico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroSeguroMedico)
        </td>
        <td>
            @Html.ActionLink("Ver Perfil", "Details", new { id=item.Id })

        </td>
    </tr>
}

</table>
