@model IEnumerable<ProyectoFinal.Models.Image>

@{
    ViewBag.Title = "Documentos";
}
<div id="detailFormName">
@Html.Label("Documentos")
</div>
<table>
    <tr>
        <th>
            @Html.Label("Creado por")
        </th>
        <th>
            @Html.Label("Image Path")
        </th>
    </tr>

@foreach (var item in Model) 
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CreadoPor)
        </td>
        <td>
            <text>@Html.DisplayFor(modelItem => item.ImagePath)</text>
        </td>
    </tr>
}
</table>
